* {
   font-family: 'Recursive', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */

}

h4 {
  font-family: 'Antic Slab', serif;
}


.header {
  background-color: #C8FFAE;

}


.contain {
  height: 200px;
  object-fit: contain;
}


.img  {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
