* {
   font-family: 'Recursive', sans-serif;
}

h4 {
  font-family: 'Antic Slab', serif;
}

p.welcome-text{
  font-size: 2rem;
}

p.title-text {
  font-family: 'Antic Slab', serif;
  font-size: 4rem;
}

span.title-text {
  font-family: 'Antic Slab', serif;
  font-size: 4rem;
   background-color: #C8FFAE;;

}

p.title-description {
  font-size: .75rem;
}


.highlight {
  background-color: #C8FFAE;;
}


.header {
  background-color: #C8FFAE;

}

.contain {
  height: 200px;
  object-fit: contain;
}

.img  {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
