* {
   font-family: 'Recursive', sans-serif;
}

/* TEXT */
.highlight {
  background-color: #C8FFAE;;
  padding: 4px;
}

.antic-slab {
    font-family: 'Antic Slab', serif;
}

p.welcome-text{
  font-size: 2rem;
}

p.title-text {
  font-family: 'Antic Slab', serif;
  font-size: 4rem;
}

p.title-text > span {
   font-family: 'Antic Slab', serif;
}

p.title-description {
  font-size: .75rem;
}

p.enter-button > span:hover{
  color: white;
  background-color: #85a875 ;

}

/*POINTER AND HOVER*/
.enter-button, .header-name, .product-card, .checkout, .back-button{
  cursor: pointer;
}

.product-card {
  transition: all 0.3s ease;
}

.product-card:hover{
  transform: translate(0px, -10px);
}

/* HEADER */
.header {
  background-color: #C8FFAE;
}

.header-name {
  font-size: 1.5rem;
}
.contain {
  height: 200px;
  object-fit: contain;
}

.img  {
  width: 100%;
  height: 300px;
  object-fit: contain;
}


/* LANDING MODAL */
.modal-overlay{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.7;
}

.landing-modal {
  position: fixed;
  z-index: 1000;
  top: 20%;
  padding: 50px;
  width: 50%;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 755px) {
     .landing-modal {
      position: fixed;
      z-index: 1000;
      top: 20%;
      padding: 5px;
      width: 75%;

  }
}

/* iPhone Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .landing-modal {
    position: fixed;
    z-index: 1000;
    top: 20%;
    padding: 5px;
    width: 95%;
  }

  .header-name {
  font-size: 1.25rem;
}

}

/* iPhone Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .landing-modal {
      position: fixed;
      z-index: 1000;
      top: 7%;
      padding: 5px;
      width: 95%;
  }

}
